  {% block stylesheets %}
  <link rel="stylesheet" href={{asset ("css/header.css")}}>
        {% endblock %}

 {% block header %}
    <header>
        <img class="header-logo" src={{asset ("assets/logo.png")}} alt="logo adrar">
        <img class="header-classrooms" src={{asset ("assets/classrooms-text.png")}}>
        <li class="header-links"><a href={{path("app_home")}}>Accueil</a></li>
        <li class="header-links"><a href={{path("app_home")}}>Formations</a></li>
        <li class="header-links"><a href={{path("app_home")}}>Administration</a></li>
        <div class="search-div">
            <img class="search-div-icon" src={{asset ("assets/loupe.svg")}}>
            <input class="search-input" type="text" placeholder="Rechercher (langages, mots-clés, cours, ...)">
        </div>
        <img class="search-icon" src={{asset ("assets/loupe.svg")}} onclick="toggleSearch()">
        <button class="sign-in-btn">Se connecter</button>
    </header>
{% endblock %}

{% block js %}
<script>
    function toggleSearch() {
        var searchIcon = document.querySelector(".search-icon");
        var searchInput = document.querySelector(".search-div");

        if (searchIcon.style.display !== "none") {
            searchIcon.style.display = "none";
            searchInput.style.display = "flex";
        } else {
            searchIcon.style.display = "inline-block";
            searchInput.style.display = "none";
        }
    }
</script>
{% endblock %}

