<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
   <header>
    <img class="header-logo" src={{asset ("assets/logo.png")}} alt="logo adrar">
    <img class="header-classrooms" src={{asset ("assets/classrooms-text.png")}}>
    <li class="header-links"><a href={{path("app_home")}}>Accueil</a></li>
    <li class="header-links"><a href={{path("app_home")}}>Formations</a></li>
    <li class="header-links"><a href={{path("app_home")}}>Administration</a></li> 
    <img class="search-icon" src={{asset ("assets/loupe.svg")}}>
    <button class="sign-in-btn">Se connecter</button>
    </header>  
</body>
</html>